.simpay-clearfix {
  *zoom: 1; }
  .simpay-clearfix:before, .simpay-clearfix:after {
    content: " ";
    display: table; }
  .simpay-clearfix:after {
    clear: both; }

.simpay-form-control {
  *zoom: 1;
  margin-bottom: 15px; }
  .simpay-form-control:before, .simpay-form-control:after {
    content: " ";
    display: table; }
  .simpay-form-control:after {
    clear: both; }
  .simpay-form-control p {
    padding: 0;
    margin: 0; }
  .simpay-form-control ul {
    margin-bottom: 0.5em; }
  .simpay-form-control ul li {
    list-style-type: none; }
  .simpay-form-control label {
    cursor: pointer; }
  .simpay-form-control .simpay-field-wrap {
    *zoom: 1; }
    .simpay-form-control .simpay-field-wrap:before, .simpay-form-control .simpay-field-wrap:after {
      content: " ";
      display: table; }
    .simpay-form-control .simpay-field-wrap:after {
      clear: both; }

.simpay-error {
  *zoom: 1;
  color: #eb1c26;
  margin-bottom: 15px; }
  .simpay-error:before, .simpay-error:after {
    content: " ";
    display: table; }
  .simpay-error:after {
    clear: both; }

.simpay-test-mode-badge-container .simpay-test-mode-badge {
  background-color: #f7e633;
  color: #333;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 9px; }
